.navbar{background-color: dodgerblue;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight: bold;}
h1{font-size:4vw ;font-family: 'Roboto', sans-serif;color:rgb(38, 234, 25);position: absolute;top: 80%;right: 2%;}
img{max-height: 350px; max-width: 100%;}